ZhiHuSpider_v8/src/main/resources/spider.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/spider"
	xmlns:tns="http://www.example.org/spider" elementFormDefault="qualified">
	<element name="Spider"></element>
	<simpleType name="SpiderType">
		<restriction base="string">
			<enumeration value="seeds" />
			<enumeration value="all" />
		</restriction>
	</simpleType>
	<simpleType name="topic">
		<restriction base="string">
			<pattern value="(\d)+((,)?\d+)?" />
		</restriction>
	</simpleType>
</schema>